<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='secret' />
      <input type='number' name='shift' />
      <input type='submit' value='Encode!' />
    </form>
    <p>
      Your encoded phrase is <%= $encoded %>
    </p>
  </body>
</html>